.categories {
  display: flex;
  padding: 0 45px;

  &__item {
    margin: 0 9px;
    .size(3, 18px);

    &:hover{
      //max-width: ;
    }
  }


}

.event{

  &__wrap{
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: pointer;
    display: block;

    &:hover{
      
      img{
        transform: scale(1.1,1.1);
      }
    }


    img{
      display: block;
      transition: all 0.4s linear;
    }

  }
}