@common-yellow: #faa516;
@green-light: #87a822;
@tomato: #cb2632;
@dark-grey: #1a1d1e;

//@tomato: #mediumturquoise;

@columns: 12;

@offset: 30px;

@offset_one_side: @offset / 2;

.size(@n, @offset){
  width: calc(100% / @columns * @n - @offset);
}

.content(){
  content: '';
  position: absolute;
  display: block;
}


.display-all(){
  display: flex;
  flex-wrap: wrap;
}
